<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>settingsMusic</string>
			<key>Title</key>
			<string>Play Music</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Game Mode</string>
			<key>Key</key>
			<string>settingsGameMode</string>
			<key>DefaultValue</key>
			<string>1</string>
			<key>Titles</key>
			<array>
				<string>Beginner</string>
				<string>Intermediate</string>
				<string>Expert</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
